# IDEs
.idea/
.vscode/
*.swp
*.log

# Node.js
node_modules/
dist/
.env

# Flutter / Dart
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# OS files
.DS_Store
Thumbs.db
